langchain
langchain-community
langchain_core
langchain-openai
langchain-qdrant
langgraph
langgraph-checkpoint-sqlite
langsmith
fastapi
uvicorn
pandas
pydantic
pydantic-settings
python-dotenv
qdrant-client
aiosqlite
ragas
openpyxl
pdfplumber
pymupdf
pillow
pytesseract
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
schedule
sse-starlette
asyncio
scikit-learn
fastembed
